# Ignore everything by default
*

# Un-ignore tracked content
!.gitignore
!README.md
!LICENSE
!pyproject.toml
!leafcutter2_env.yml

# Source package
!src/
!src/**

# Tests
!tests/
!tests/**

# Example data
!example/
!example/**

# GitHub Actions CI
!.github/
!.github/**
