# Ignore everything by default
*

# Un-ignore tracked content
!.gitignore
!README.md
!LICENSE
!pyproject.toml
!leafcutter2_env.yml

# Source package
!src/
!src/**
# ...but not generated build/cache artifacts
**/__pycache__/
**/*.pyc
**/*.egg-info/

# Tests
!tests/
!tests/**
# ...but not pytest cache
tests/__pycache__/
.pytest_cache/

# Example data
!example/
!example/**

# GitHub Actions CI
!.github/
!.github/**
